html {
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1200px;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #DCFF97;
}
header{
  background-color: whitesmoke;
  display: flex;
  justify-content: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
header h1{
  margin: auto;
  font-family: 'jua';
  font-size: 400%;
}
#life{
  position: absolute;
  transform: translate(5%, 10%);
  width: 400px;
  height: 100px;
  z-index: 999;
  display: flex;
}

.life1, .life2, .life3, .life4{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: url("../images/d3d3d3.png");
  background-size: 90%;
  background-repeat: no-repeat;
}
.canvas-container {
  display: flex;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

/* 각 캔버스의 스타일 설정 */
.canvas-container .wtauto, .wtuser {
  flex: 1;
  height: 100%;
  width: 50%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#canvas01 {
  background-image: url("../images/apple_lo_1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
#canvas1{
  width: 900px;
  height: 900px;
  transform: translate(2%, 2%);
  display: flex;
  position: absolute;
  z-index: 4;
}
.wtauto .bg{
  background-image: url("../images/apple_lo_2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  z-index: 5;
}
#canvas02 {
  background-image: url("../images/apple.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -30px;
  width: 800px;
  height: 800px;
  display: flex;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
#canvas2{
  width: 400px;
  height: 400px;
  display: flex;
  position: absolute;
  transform: translate(1%, 30%);
  z-index: 4;
}
.slider-container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(1%, 30%);
  z-index: 5;
}

/* RangeSlider */
.rangeslider, .rangeslider__fill {
  box-shadow: none;
  border-radius: 50px;
  border: none;
  background: lightgray;
}
.rangeslider {
  width: 100px;
  height: 400px;
  transform: translate(120%, 0%);
  z-index: 6;
  pointer-events: none;
}
.rangeslider__fill {
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  /* background-image: url("../images/guideline_4.png"); */
}

.rangeslider__handle {
  background: none;
  border: none;
  cursor: pointer;
  width: 140px;
  height: 140px;
  box-shadow: none;
  border-radius: 50%;
  background-image: url("../images/ant_2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-3%, 90%);
  display: none;
}
.rangeslider__handle:after {
  width: 0px;
  height: 0px;
}
.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background: none;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/ant_2.png");
}

/* RoundSlider */
#round-slider1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
}
#round-slider2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.rs-border { border: none; }
.rs-range-color { background-color: lightgray; }
.rs-path-color { background-color: lightyellow; }
.rs-bg-color {
  background-image: url("../images/apple.png");
  background-size: 1000%;
  background-position: center;
}
.rs-control .rs-handle { cursor: pointer; }
.rs-handle {
  background: none;
  background-image: url("../images/ant_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0%, -10%);
  /* display: none; */
}
#round-slider1 .rs-range-color {
  background-image: url("../images/guideline_3.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 30px;
}
#round-slider2 .rs-handle { display: none; }


.container {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  height: 10%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
.wttools {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 7;
  order: 1;
}
.footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 3;
  order: 2;
}
.footer-container footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.footer-container button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  width: 40%;
  height: 80%;
  font-size: 300%;
  font-family: 'jua';
  display: inline-block;
  text-align: center;
  padding: 20px 32px;
  margin: 4px 2px;
  border-radius: 30px;
  box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.3),
    inset 1px 1px 5px rgba(255, 255, 255, 0.6);
}
.footer-container button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}


.modal {
  display: none;
  position: fixed;
  z-index: 10; /* 모달의 z-index 값을 다른 요소들보다 높게 설정 */
  left: 0;
  top: 0;
  width: 2000px;
  height: 1200px;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 모달 내용 */
#failModal .modal-content {
  background-image: url('../images/apple.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 800px;
  position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
  top: 50%; /* 부모 요소의 상단에서 50% 지점에 배치 */
  left: 50%; /* 부모 요소의 왼쪽에서 50% 지점에 배치 */
  transform: translate(-50%, -50%); /* 요소의 중앙을 정확히 화면의 중앙에 위치하도록 이동 */
  /* background-color: #fefefe; */
  padding: 20px;
  max-width: 80%; /* 모달 최대 너비 설정 */
  max-height: 80%; /* 모달 최대 높이 설정 */
  z-index: 11;
}

#clearModal .modal-content {
  background-image: url('../images/stamp1.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 800px;
  position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
  top: 50%; /* 부모 요소의 상단에서 50% 지점에 배치 */
  left: 50%; /* 부모 요소의 왼쪽에서 50% 지점에 배치 */
  transform: translate(-50%, -50%); /* 요소의 중앙을 정확히 화면의 중앙에 위치하도록 이동 */
  /* background-color: #fefefe; */
  padding: 20px;
  max-width: 80%; /* 모달 최대 너비 설정 */
  max-height: 80%; /* 모달 최대 높이 설정 */
  z-index: 11;
}