html, body {
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1200px;
  overflow: hidden;
  background-color: #F7FA79;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
}

.container {
  position: absolute;
  width: 1727px;
  height: 1727px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 136px; /* X 좌표 */
  top: -53px; /* Y 좌표 */
}

.container img {
  width: 1203px;
  height: 1203px;
  position: absolute;
  bottom: 470px;
}

.letter {
  position: absolute;
  font-size: 300px;
  font-family: 'jua';
}

.letter.a {
  left: 200px; /* X 좌표 */
  top: 391px; /* Y 좌표 */
  color: #FF4747;
}

.letter.b {
  left: 780px; /* X 좌표 */
  top: 158px; /* Y 좌표 */
  color: #2A8300;
}

.letter.c {
  left: 1300px; /* X 좌표 */
  top: 391px; /* Y 좌표 */
  color: #000F97;
}

.start-button {
  position: absolute;
  padding: 10px 20px;
  width: 728px;
  height: 149px;
  background: linear-gradient(to right, #FBFF4F 0%, #DCFF97 25%, #D6FF85 45%, #B7ED55 75%, #81FF00 100%);
  border: none;
  border-radius: 100px;
  font-size: 120px;
  cursor: pointer;
  font-family:'jua';
  bottom: 570px;
}
