html, body {
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1200px;
  overflow: hidden;
  background-color: #E9C59B;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  position: absolute;
  font-family: 'jua';
  width: 100%;
  height: 100%;
  height: 200px;
  justify-content: center; /* 자식 요소를 가로(수평) 기준으로 가운데 정렬시킴 */
  align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
}


.label {
  font-size: 150px;
}

.explorer {
  margin-left: 50px;
}

.blank {
  display: inline-block;
  width: 800px;
  border-bottom: 1px solid #000;
  font-size: 150px;
  text-align: center;
}

.sh_circle {
  width: 438px;
  height: 438px;
  background-color: rgba(80, 77, 77, 0.9); /* 색상: 504D4D, 투명도: 90% */
  border-radius: 50%;
  position: absolute;
  width: 464px;
  height: 438px;
  right: 260px;
  bottom: -80px;
}

.stamp{
  background-image: url("../images/stamp.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 464px;
  height: 438px;
  right: 140px;
  bottom: -70px;
  z-index: 1;
}

.n_click {
  position: absolute;
  right: 280px;
  top: -170px;
  z-index: 2;
}

.n_click .label {
  color: white;
  font-size: 80px;
  position: absolute;
  transform: translate(-100%, -90%);
  white-space: nowrap; /* 추가 */
}

