{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=2000, height=1200">
    <title>오답노트</title>
    <link rel="stylesheet" href="{% static 'main/css/outro.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page1" id="page1">
        
    </div>
    <div class="page2" id="page2" style="display: none;">
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'main/js/outro.js' %}"></script>
</body>
</html>
